.auth-form-container {
    width: 20%;
    flex-direction: column;
    margin: 40vh auto;
    translate: 0 -50%;
}

.auth-form-container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.auth-form-container h1 {
    text-align: center;
}

.auth-form-container button {
    width: 30%;
    align-self: center;
    margin-top: 2em;
}
