{% extends "layout.html" %}

{% block title %}Список приложений{% endblock %}

{% block page_title %}Список приложений{% endblock %}

{% block form %}
    <form method="post" action="{% url 'applications' %}">
        {% csrf_token %}
        {{ form }}
    <button type="submit">Зарегистрировать</button>
</form>
{% endblock %}

{% block main %}
<div>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Токен</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>
                    {{ application.name }}
                    <a href="/applications/{{ application.id }}/delete/">
                        <span class="small-text">
                            [удалить]
                        </span>
                    </a>
                </td>
                <td>{{ application.token }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}