{% extends "layout.html" %}

{% block title %}Список приложений{% endblock %}
{% block page_title %}Журнал ошибок{% endblock %}
{% block form %}
    <form method="post" action="/error-tracker/errors/">
        {% csrf_token %}
        {{ form }}
        <button type="submit">ОК</button>
    </form>
{% endblock %}
{% block main %}
    <table>
        <thead>
            <tr>
                <th>Текст ошибки</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            {% for error in data %}
            <tr>
                <td>{{ error.error_text }}</td>
                <td>{{ error.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
