{% extends "document.html" %}

{% block content %}
<div class="layout">
    <header>
        <span class="logo">Error Tracker</span>
        <div>
            {% if user.is_authenticated is True %}
            <span>{{ user }} <a class="small-text logout" href="{% url 'logout' %}">[Выйти]</a></span>
            {% endif %}
        </div>
    </header>
    <nav class="navbar">
        {% block nav %}
        <ul>
            <li>
                <a href="/error-tracker/register-application/">Зарегистрировать приложение</a>
            </li>
            <li>
                <a href="/error-tracker/applications/">Список приложений</a>
            </li>
            <li>
                <a href="/error-tracker/errors/">Журнал ошибок</a>
            </li>
        </ul>
        {% endblock %}
    </nav>
    <main>{% block main %}{% endblock %}</main>
</div>
{% endblock %}
