{% extends "document.html" %}

{% block content %}
<div class="layout">
    <header>
        <span class="logo">Error Tracker</span>
        <div>
            {% if user.is_authenticated is True %}
            <span>{{ user }} <a class="small-text logout" href="{% url 'logout' %}">[Выйти]</a></span>
            {% endif %}
        </div>
    </header>
    <nav class="navbar">
        {% block nav %}
        <ul>
            <li>
                <a href="{% url 'errors' %}">Журнал ошибок</a>
            </li>
            <li>
                <a href="{% url 'applications' %}">Список приложений</a>
            </li>
        </ul>
        {% endblock %}
    </nav>
    <main>
        <h1>{% block page_title %}{% endblock %}</h1>
        <div class="form-container">{% block form %}{% endblock %}</div>
        <div>{% block main %}{% endblock %}</div>
    </main>
</div>
{% endblock %}
